$paletaPrincipal: rgb(76, 199, 76);

$paletaSecundaria: rgba(233, 135, 151, 0.788);

$paletaTerciaria: rgb(173, 8, 173);

$paletaContacto: rgb(202, 144, 144);

$ancho: 100px;
$largo: 100px;

$margen: 10px;
$padd: 10px;


.grillaCarrusel{
    display: grid;
    grid-template-areas: 
    "none slogan slogan"
    "logo titulo titulo"
    "logo intro intro";
    margin-bottom: 100px;
}




/*BUCLE*/

$list: nav div footer;
@each $i in $list {
	.image-#{$i} { background-image: url('../fondobucle/#{$i}.jpg'); }
}



//MAPA

$colors: (
facebook: blue,
youtube: red,
instagram: violet,
buscador: green
);

/*MAPA con EACH*/

@each $name-social, $bgcolor in $colors{
    .btn--#{$name-social} {
        background-color: $bgcolor;
    }
}

/*EXTEND*/
.redsocial{
    width: $ancho/3;
    height: $largo/3;
    padding: $padd;
    color: white;
    font-size: 20px;
    margin: $margen;


}

.redsocial--insta{
    @extend .redsocial;
    color: rgb(68, 9, 68);

}





/*BARRA BUSCADOR*/


@mixin barra{
    background-image: url('overlayviolet.jpg');
    width: 80%;
    height: 100%;
    margin: 10px 100px 25px 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    display: inline-block;
    border-style: dotted;
    border-color: $paletaPrincipal;
    top: 0;
}

header{
    @include barra;
}

.header-pegado{
    @include barra;
    position: sticky;

}


header ul{
    list-style-image: url('mundo.gif');
    margin: 0%;
}

.ordenarElBuscador{
    order: -1;
}

.enFila{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    li{

        margin-left: $margen*2;
}
}

/**/ 

/*Transiciones*/

.trans{
    transition: all 1s; 


    &:hover{

    background-image: url('overlaypink.jpg');   
    font-size:20px; 
    }
}
/**/

/*Transformaciones*/

.transfFoto1{
    transform: translate(0%);

}
.transfFoto2{
    transform: translate(50%);

}
.transfFoto3{
    transform: translate(100%);

}
/**/


/*ANIMACIONES*/
.key{
    animation-name: efecto;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.17,.67,.56,.75);
    animation-delay: 1s;

}



@keyframes efecto{
    0%{   background-image:linear-gradient(rgb(206, 92, 206),pink,rgb(228, 147, 160))
}    
    10%{  background-image:linear-gradient(rgb(145, 44, 145),pink,rgb(233, 93, 116))
}
    25%{  background-image:linear-gradient(rgb(88, 11, 88),pink,rgb(179, 40, 63))
}
    50%{  background-image:linear-gradient(rgb(88, 11, 88),pink,rgb(179, 40, 63))
}
    60%{  background-image:linear-gradient(rgb(192, 93, 192),pink,rgb(170, 101, 112))
}  
    75%{  background-image:linear-gradient(rgb(145, 44, 145),pink,rgb(233, 93, 116))
}
    80% { background-image:linear-gradient(rgb(88, 11, 88),pink,rgb(179, 40, 63))
}
    100%{ background-image:linear-gradient(rgb(206, 92, 206),pink,rgb(228, 147, 160))
}
}
/**/



/*GRIDS*/

.grillaAreas{
    display: grid;
    grid-template-areas: 
    "none slogan slogan"
    "logo titulo titulo"
    "logo intro intro"
    ;
    background-image:linear-gradient(rgb(206, 92, 206),pink,rgb(228, 147, 160));
    width: 80%;
    height: 100%;
    border-style: outset;
    border-color: green;
    padding-top: $padd*2;
    padding-bottom: $padd*2;
    padding-left: $padd*2;
    padding-right: $padd*5;
    margin: $margen*5 $margen*10 ($margen*2)+5 $margen*8;

 
}


#img{
    grid-area: logo;
    margin-left: 100px;
}

#slogan{
    grid-area: slogan;
}
#intro{
    grid-area: intro;
}

#titulo{
    grid-area:titulo;
}
/**/



/*FLEXBOX */

.formularioContacto{
display: block;
flex-direction: row;
flex-wrap: wrap;
margin: $margen*10;
padding: ($padd*2)+5;
width: 50%;
}


.cuadroLista {
  
    flex-wrap: wrap;
    border: solid 5px $paletaPrincipal;
    padding: $padd;
    background-image: url('overlayviolet.jpg');  
    

}

h4{
    text-align: center;
}

.videoNosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



 





   

/**/

/*ESTILO BOTONES*/

.botones {

    border: $paletaPrincipal 8px dotted;
    background-color: $paletaSecundaria;
    color: $paletaTerciaria; }

.botones-profesional{
    width: $ancho*5; 
    height: $largo;
    font-size: 30px;
    margin: $margen*2;
    margin-left: 30%;
}

.botones-reset{
    border: outset double;
    background-color: $paletaSecundaria;
    color: $paletaPrincipal;
    margin: $margen;
    &:hover{

        background-color: $paletaTerciaria;   
        font-size:20px; 
        }
}

.botones-enviar{
    border: outset double;
    background-color: $paletaPrincipal;
    color: $paletaTerciaria;
    margin: $margen;

    &:hover{

        background-color: $paletaContacto;   
        font-size:20px; 
        }
}
/**/


/*LISTAS*/
.listaEnNosotros{
    margin-left: ($margen*7)+5;
    margin-right: ($margen*10)+10;
    padding: $padd*5;
}

.listaDeVideo{
    margin: $margen+10;
    padding: $padd+10;
}

.listaDeCaracteristicas{
    color: $paletaTerciaria;
    font-weight: bold;
    letter-spacing: 6px;
}

.cuadroEjemplos{
    background-image: url('fondorepeat.jpg');
}

/**/


   





.tituloDelIndex{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 5px 5px 5px $paletaTerciaria;
}


/*ESTILOS VARIOS*/
body{
    background-image: url('fondo.jpg');
    font-family: 'Source Code Pro', monospace;
   
}


h1{
    text-align: center;
    color: $paletaSecundaria;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 3px 3px 4px $paletaTerciaria;
}

h2{
    color:$paletaTerciaria;
    text-decoration-line: underline;
    text-align: center;
}

h3{
    color: $paletaContacto;
}

div{
    color: $paletaContacto;
     p{
    text-align: left;
}
}

legend{
    color: $paletaContacto;
    word-spacing: 20px;
    letter-spacing: 10px;
}

ol{
    color: $paletaContacto;
}


td{
    ul{
    color:black;
    list-style-image: none;
}
}



span{
    font-weight: normal;
    letter-spacing: 0px;
    color: $paletaContacto;
}

nav ul li{
    color:rosybrown;
}

table{
    background-image: url('fondorepeat.jpg');
    background-repeat: repeat-x,
    repeat-y;
    color:black;
}

img{
    padding: $padd/2;
}

/**/

/*ENLACES*/

th{
    color: $paletaTerciaria;
}

a:link {
    color: $paletaTerciaria;
    border: dotted 1px green;
    font-weight: bold;
}
a:visited {
    color: $paletaPrincipal; 
    text-shadow: $paletaSecundaria;
    
    
}

a:active {
    color: $paletaTerciaria;
}

p{
    color: $paletaSecundaria;
    font-size: 30px;
}
/**/

/*FOOTER*/
footer p{
    text-align: right;
    font-style:italic;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/**/



/*ALINEACIONES*/

#centrado{
    text-align: center;
    color:darksalmon
}
.derecha{
    text-align: right;
}

.izquierda{
    text-align: left;
    padding: $padd+10;
}


.movemosElLogo{display: flex;
    flex-wrap: wrap;
justify-content: center;
flex-direction: column-reverse;
}

/**/
